<style>
div.text_cell{    
    font-size: 100% ;
    width: 100% ;
    line-height: 104% ; 
}

div.cap{font-size: 100% ;
    line-height: 98% ; 
    margin-top: 0.1em ; 
    margin-left: 4em ; 
    margin-right: 4em ;
    
}


</style>